body {
   background-color: #FFFFFF;
   text-align: center;
   margin:1px;
}

.headerMain {
    border: 1px solid #FFFFFF;
    border-bottom-color: #222222;
    padding: 5px;
    width: 100%;
}

.headerTop {
    border-radius: 2px;
    border-color: #FFFFFF;
    float: right;
}

.headerMiddle {
    display:flex;
    
}

.headerMiddle div{
    background-color: #FFFFFF;
    margin: 50px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}

.headerTop a{
    padding: 7px;
    border: solid #FFFFFF 1px;
    border-radius: 18px;
    text-decoration: none;
    color: #222222;
}

.headerTop a:hover{
    background-color: lightgray;
    
}

#globeButton {
    background-color: #FFFFFF;
    border: solid #FFFFFF 1px;
    border-radius: 18px;
}

#profileButton{
    background-color: #FFFFFF;
    border: solid lightslategray 1px;
    opacity: 0.6;
    border-radius: 18px;
    width: 140px;
    height: 80px;

}

/*
.profileButtonPic{
    width:30px;
    height:15px;
    padding:2px;

}

.profileButtonDashes{
    width: 30px;
    height: 15px;
    padding:2px;
}

*/
#profileButton div{
    width: 30px;
    height: 15px;
    margin:2px;

}
