body {
   background-color: #FFFFFF;
   text-align: center;
   margin:1px;
}

.headerMain {
    border: 1px solid #FFFFFF;
    padding: 5px;
    width: 100%;
}

.headerTop{
    border: 1px solid #FFFFFF;

}

.headerTopRight {
    border: 1px solid #FFFFFF;
    float: right;
    display:flex;
    margin-right: 20px;
    margin-bottom: 10px;
}

.headerMiddle {
    border: 1px solid #FFFFFF;
    display:flex;
    align-items: center;
    justify-content: center;
}

.headerMiddle div{
    padding: 7px;
    border-radius: 18px;
    font-size: 16px;
    border: solid #FFFFFF 1px;
    color: #222222;
}

.headerMiddle a{
    color:#222222;
    text-decoration:none;
}

.headerMiddle div:hover{
    background-color: lightgray;
}

.headerTopRight a{
    padding: 7px;
    border: solid #FFFFFF 1px;
    border-radius: 18px;
    text-decoration: none;
    color: #222222;
}
.headerTopRight button{
    padding: 7px;
    border: solid black 1px;
}

.headerTopRight a:hover{
    background-color: lightgray;
    
}

#globeButton {
    background-color: #FFFFFF;
    border: solid #FFFFFF 1px;
    border-radius: 18px;
}

#profileButton{
    background-color: #FFFFFF;
    border: solid lightslategray 1px;
    opacity: 0.72;
    border-radius: 18px;
    width: 80px;
    height: 45px;
    display:flex;

}

/*
.profileButtonPic{
    width:30px;
    height:15px;
    padding:2px;

}                                   don't need these for now as #profileButton div css covers this.

.profileButtonDashes{
    width: 30px;
    height: 15px;
    padding:2px;
}

*/
#profileButton div{
    width: 25px;
    height: 25px;
    margin:2px;
    border: 1px solid white;

}

.logo{
    float:left;
    margin-left: 20px;
    margin-top: 10px;
}

.headerBottom{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid #FFFFFF;
}

.searchBar{
    width:100%;
    max-width: 600px;
    height:64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 90px;
    border: 1px solid #222222;
}

.searchBar input{
    background: transparent;
    flex: 1;
    border:0;
    outline: transparent;  /* <----focus outline (set to 1 initially)*/
    padding: 10px 16px;
    
}

/*.searchBar button img{
    width:40px                  don't need this for now as the .searchPic css for the div covers this.

}*/

.searchBar button{
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #FFFFFF;
    background-color: #FF5A5F;
    margin-right: 8px;
}

.searchPic{
    padding: 10px 10px;
    width:40px;
}

nav{
    background-color: white;
    white-space: nowrap;
    overflow:auto;
}

nav a{
    display:inline-block;
    text-align: center;
    padding: 0px 22px;
    opacity:0.8;
}

.navButtons{
    width: 60px;
    height: 70px;
    background-color: #FFFFFF;
    border:none;
}

.navButtons div{
    border: 1px solid #FFFFFF;
    white-space: nowrap;
}

.navButtons div img{
    width: 24px;
    height:24px;
}

.navigation{
    border: 1px solid #FFFFFF;
    border-top-color: #222222;
    padding-top: 10px;
    margin-bottom: 5px;
}
